<!-- BEGIN BODY // -->
<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
  <tr>
    <td valign="top" class="bodyContainer">
      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
        <tbody class="mcnTextBlockOuter">
          <tr>
            <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
              <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                <tbody>
                  <tr>
                    <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
                      <h1><span style="font-size:24px">Hola <%= name %>,</span></h1>
                      <div class="m_2860620098513552206FormattedEmail-divider" style="background:#9f9fa9;height:1px;margin:20px 0 28px;width:24px">&nbsp;</div>
                      <p style="margin-bottom: 40px;"><span style="font-size:20px;">Sabemos que tu clase de hoy a las <%= time %> de <%= studio %> esta por comenzar, es por ello que te adjuntamos la lista de tus alumnos.</span></p>
                      <p style="text-align: center;"><span style="font-size:16px;">¡Suerte en tu clase!</span></p>
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: center; padding-bottom: 50px;">
                      <p style="font-size:14px;">Att.</p>
                      <a href="http://www.weactive.mx" target="_blank"><img id='signatureLogo' src="<%= static_url %>/logo.png"/></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
<!-- // END BODY -->