@import "../../shared/variables.scss";

.simpleNav {
  &__linearGradient {
    width: 100%;
  }
  &__pattern {
    width: 100%;
  }
  &__mainContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 10px 5%;
  }
  &__leftContent{
    flex: 1;
    flex-direction: row;
    align-items: center;
  }
  &__text {
    color: $white;
    font-family: $bold-font;
  }
  &__icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  &__rightAction{
    align-items: flex-end;
  }
}
