@import 'src/shared/variables.scss';

.login__form {
  padding: 1rem 3rem 2rem 3rem;
  
  &__register {
    color: #fffeff;
    border-radius: 5px;
    margin: 1.2rem 0 0 0;
    height: 45px;
    padding: 0 0;
    z-index: 0;
    display: block;
  }
  
  &__checkbox {
    margin-top: 1.5rem;
    margin-left: 1.3rem;
  }

  &__link {
    font-size: $font-very-small;
    color: $primary-color;

    &:hover {
      text-decoration: none;
      color: $primary-color;
    }
  }
}