@import 'src/shared/variables.scss';

.card_form {
  margin: 1.5rem 0;

  &__cards {
    margin-bottom: 30px;
  }

  &__card_title {
    color: $gray;
    padding-bottom: 10px;
  }

  &__input {
    border: solid;
    border-width: 1px;
    border-color: #bdbdbd;
    border-radius: 5px;
    padding: 15px;
    margin: 0 5px;
    margin-bottom: 15px;
    color: $black;
  }

  &__label {
    font-size: $font-small;
    color: #bdbdbd;
    padding-bottom: 5px;
    margin: 0 5px;
  }

  &__error {
    color: #f44336;
    margin: 0 15px 15px 15px;
  }
}
