.plan-item {
  margin: 10px 0;

  &__special {
    &-header {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
    }

    &-body {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
    }
  }

  &__normal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    &-header {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
    }

    &-body {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
    }
  }
}
