@import "../../shared/variables.scss";

.purchaseHistory {
  &__content {
    background-color: $black-gray;
    padding: 5% 10%;
    height: 100%;
  }
  &__empty {
    background-color: $black-gray;
    height: 100%;
    padding: 5px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  &__text {
    color: white;
    font-family: $main-font;
  }
}
