.st0 {
  stroke: url(#SVGID_1_);
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st1 {
  stroke: url(#SVGID_2_);
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st2 {
  stroke: url(#SVGID_3_);
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st3 {
  stroke: url(#SVGID_4_);
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st4 {
  stroke: url(#SVGID_5_);
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st5 {
  stroke: url(#SVGID_6_);
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st6 {
  stroke: url(#SVGID_7_);
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st7 {
  stroke: url(#SVGID_8_);
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st8 {
  stroke: url(#SVGID_9_);
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st9 {
  stroke: url(#SVGID_10_);
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st10 {
  stroke: url(#SVGID_11_);
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st11 {
  stroke: url(#SVGID_12_);
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st12 {
  stroke: url(#SVGID_13_);
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st13 {
  stroke: url(#SVGID_14_);
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st14 {
  stroke: url(#SVGID_15_);
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st15 {
  stroke: url(#SVGID_16_);
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st16 {
  font-family: 'ArialMT';
}

.st17 {
  font-size: 15px;
}

.st18 {
  stroke: url(#SVGID_17_);
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st19 {
  stroke: url(#SVGID_18_);
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st20 {
  stroke: url(#SVGID_19_);
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st21 {
  stroke: url(#SVGID_20_);
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st22 {
  stroke: url(#SVGID_21_);
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st23 {
  stroke: url(#SVGID_22_);
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st24 {
  stroke: url(#SVGID_23_);
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st25 {
  stroke: url(#SVGID_24_);
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st26 {
  stroke: url(#SVGID_25_);
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st27 {
  stroke: url(#SVGID_26_);
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st28 {
  stroke: url(#SVGID_27_);
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st29 {
  stroke: url(#SVGID_28_);
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st30 {
  stroke: url(#SVGID_29_);
  stroke-width: 3.0347;
  stroke-miterlimit: 10;
}

.st31 {
  font-size: 12px;
}

.st32 {
  stroke: url(#SVGID_30_);
  stroke-width: 3.0347;
  stroke-miterlimit: 10;
}